{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
<body>

	<div class="wrapper">

    <div class="header">
		<img  id="logo" src="{% static 'accounts/images/main.jpg'%}">
		<div id="head">TOTO</div>
	</div>
	<div class="nav-bar">
	  <a href="{% url 'home' %}"><b>Home</b></a>
	  <a href="{% url 'Posts_view' %}"><b>Community</b></a>
	  <a href="{% url 'getting_pregnant' %}"><b>Getting Pregnant</b></a>
	  <a href="{% url 'pregnancy' %}"><b>Pregnancy</b></a>
	  <a href="{% url 'baby' %}"><b>Baby</b></a>
	  <a href="{% url 'health' %}"><b>Health</b></a>
	  <div style="float: right;">
	  {% if user.is_authenticated %}
		  <a href="{% url 'logout' %}"><b>Logout  {{user.user_name}}</b></a> 
		  <a href="{% url 'View_Profile' %}"><b>Profile</b></a>
	   {% else %}
	    <a href="{% url 'login' %}"><b>Log In</b></a>
	    <a href="{% url 'register' %}"><b>Register</b></a>
	    {% endif%}

	  </div>
	  
	</div>

		<div>
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div>
			{% endfor %}
        {% endif %}
	</div>
	<div class="content">
		<div class="left-col">
          {% block left-col %}
	      {% endblock left-col %}
		</div>
		<div class="right-col">
			{% block right-col %}
	        {% endblock right-col %}
		</div>
		
	</div>
</div>
<div class="footer">
	<div class="footer-row-one">
		<div class="footer-row-one-col ">
		  <h3>About Toto</h3>
		  <p>About Us</p><p>Advertise With Us</p><p>Great Deals</p>
	    </div>
		<div class="footer-row-one-col ">
			<h3>Get Help</h3>
			<p>Help Centre</p><p><a href="{% url 'contact' %}">Contact Us</a></p>
		</div>
		<div class="footer-row-one-col">
			<h3>Other Sites</h3>
			<p>Our Android App</p>
		</div>
		<div class="footer-row-one-col">
			<h3>Connect With Us</h3>
			<p>facebook</p><p>Whatsapp</p><p>Twitter</p>
		</div>
	</div>
	<div class="footer-row-two">
		<div class="footer-row-two-col">
			<h2>Subscribe Now And Get Email Updates</h2>
			 <a style="color:white;" href="{% url 'register' %}"><button style="color:white;background-color: rgb(23, 113, 120);margin-left: 25%;"><b>Join Us</b></button></a>
		</div>
		

	</div>

</div>
	
	

</body>
</html>